.services-web-development {
	text-align: center;padding: 80px 0;
	.title {font-size: 50px;color: #1d2d39;margin: 20px 0 20px;}
	.des {font-size: 25px;color: #3c4352;margin-bottom: 40px;}
	.list {
		margin-bottom: 50px;
		li {
			font-size: 23px;
		    color: #3c4352;
		    text-align: left;
		    margin-left: 290px;
		    margin-bottom: 15px;
		    position: relative;
		    &:before {
		    	content: '';position: absolute;top: 11px;left: -30px;z-index: 69;
		    	width: 13px;height: 13px;border-radius: 50%;background: #419fd9;
		    }
		}
	}
	.action {
		.detail {
		    margin: 0 10px 20px;text-align: center; display: inline-block;font-family: OpenSansSemiBold; font-size: 18px;border-radius: 3px;position: relative;padding: 12px 100px; background: #419fd9;color: #fff;
		    &:before {content: "\f105";position: absolute;top: 10px;right: 20px;z-index: 69;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 30px;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }
		}
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.services-web-development {
		.title {font-size: 28px;}
		.des {font-size: 17px;}
		.list {
			li {
				font-size: 15px;margin-left: 15px;
				&:before {top: 6px;left: -20px;width: 10px;height: 10px;}
			}
		}
		.action {
			.detail {font-size: 16px;width: 256px;height: 50px;line-height: 50px;padding: 0;}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.services-web-development {
		.title {font-size: 28px;}
		.des {font-size: 17px;}
		.list {
			li {
				font-size: 15px;margin-left: 170px;
				&:before {top: 6px;left: -20px;width: 10px;height: 10px;}
			}
		}
		.action {
			.detail {font-size: 16px;}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.services-web-development {
		.title {font-size: 35px;}
		.des {font-size: 20px;}
		.list {
			li {
				font-size: 18px;margin-left: 210px;
				&:before {top: 6px;left: -20px;width: 10px;height: 10px;}
			}
		}
		.action {
			.detail {font-size: 16px;padding: 12px 70px;}
		}
	}
}