.contact-address-map {
    background: #fff url(../images/bg-computer.jpg)no-repeat bottom center;padding: 0px 0 100px;
    .title {margin-bottom: 50px;}
    .bg-iframe {
    	border: 1px solid #ccc;height: 450px;background: #f5f5f5;
    }
}